.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #0D6EFD;
  color: #fff;
  display: flex;
  padding: 0 16px;
  align-items: center;
  height: 56px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  justify-content: space-between;
}

span{
  padding: 0rem;
}

.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  color: #fff;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.vl {
  border-left: 3px solid rgb(255, 255, 255);
  height: 15px;
  padding-left: 10px;
}

.center-text {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}





.page-container {
  padding: 25px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10px;
  padding-top: 30px;
}

.box-container {
  background-color: #85bba7;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box > div {
  background-color: #f1f1f1;
  margin: 10px;
  line-height: 15px;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.delete {
  display: block;
  width: 100%;
  border: none;
  background-color: #e05858;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.title {
  padding-left: 10px;
  padding-right: 25px;
}

.comment {
  background-color: #e05858;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(214, 214, 214);
  padding-top: 0px;
}




/* Blog display */
.option-block {
  background-color: #e05858;
  border-radius: 4px;
  margin-top: 15px;
  margin-left: 5px;
  border: none;
  padding: 10px;
}

.settings-flex {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  padding-top: 30px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 350px;
  margin: 10px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  border-radius: 8px;
}

.flex-entry {
  background-color: #f1f1f1;
  width: 350px;
  margin: 10px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  border-radius: 8px;
  color: black;
}



.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #279cdf;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}
