.page-container {
    background-color: rgb(204, 247, 255);
    margin: 2.5% 15%;
}

.likes-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.like-value {
    padding: 3px 10px 0px 10px;
}

.post-title {
    padding-left: 15px;
}


.info-container {
    display: flex;
    flex-direction: row;
}

.icon-spacer {
    padding-right: 10px;
}

.like-icon {
    background: white;
	color: black;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 25px;
    /* background: none;
	color: inherit; 
    padding: 0px;*/
}