.page-container {
    background-color: rgb(204, 247, 255);
    margin: 2.5% 15%;
}

.likes-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.like-value {
    padding: 3px 10px 0px 10px;
}

.post-title {
    padding-left: 15px;
}


.info-container {
    display: flex;
    flex-direction: row;
}

.icon-spacer {
    padding-right: 10px;
}

.like-icon {
    background: white;
    color: black;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 25px;
    /* background: none;
	color: inherit; 
    padding: 0px;*/
}

.comment {
    display: flex;
    flex-wrap: wrap;
    background-color: #c7c5c5;
    padding-top: 0px;
}

.comment>div {
    background-color: #f1f1f1;
    color: black;
    /* width: 1000000px; */
    box-sizing: border-box;
    margin: 5px;
    line-height: 15px;
    font-size: 15px;
    padding: 20px;
}

.toprow {
    display: flex;
    justify-content: space-between;
}

.delete-icon {
    background: rgb(226, 113, 113);
    color: black;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 5px;
    padding: 10px;
}

.delete-icon-post {
    background: rgb(226, 113, 113);
    color: black;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 5px;
    padding: 10px 13px;
}

.edit-icon {
    background: rgb(113, 162, 226);
    color: black;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 5px;
    padding: 10px 13px;
    margin-right: 5px;
}